<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container">
  <h1><span th:text="#{bought.title}"></span></h1>
  <div th:each="offer : ${offersList}">
    <p>
      <span th:text="${offer.title}"></span>
      <span th:text="${offer.details}"></span>
      <span th:text="${offer.amount}"></span>
      <span th:text="${offer.getUser().getEmail()}"></span>
    </p>
  </div>
  <div th:if="${#lists.isEmpty(offersList)}">
    <span th:text="#{bought.nothing}"></span>
  </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>