<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head">
<body>
<nav th:replace="fragments/nav"/>
<div id = "tableUsers">
    <table id="table" class="table table-hover" >
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersList}">
            <td scope="row" th:text="${user.email}"> </td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <input type="checkbox" th:id="${'Seleccionado' + user.id}" name="seleccionado" th:value ="${user.email}"   >
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $( "#Seleccionado"+[[${user.id}]]).click(function() {
                        if($(this).prop('checked')){
                            $.get("/admin/usersList/add/"+[[${user.email}]]);
                            console.log([[${user.email}]]);
                        }
                    });
                    /*]]>*/
                </script>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="formulario">
    <form>
        <button type="button" th:id="deleteAll"
                class="btn btn-success">Borrar Todo
        </button>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $( "#deleteAll").click(function() {

                $.post("/admin/userList/remove/");

            });
            /*]]>*/
        </script>
    </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>